<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>My MarkDown Editor</title>
  <link href="public/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="public/style.css">
</head>

<body>

  <body class="container-fluid">

    <section class="row">
        <textarea class="col-md-6 full-height" id="pad">Write your text here..</textarea>
        <div class="col-md-6 full-height" id="markdown"></div>
    </section>


    <script src="public/showdown.js"></script>
  	<script src="public/script.js"></script>
    
</body>

</html>